<div class="content">
    <div class="cartListLayout">
        <h1>{head.title}</h1>
        <h2>{head.description}</h2>
        <div class="cartItems">
            <table id="cartListTable">
                <tr>
                  <th>Pizza</th>
                  <th>Foto</th>
                  <th>Quantity</th>
                  <th>Price</th>
                </tr>              
            </table>
            <div id="amount">
                <h1>Amount:</h1>
            </div>
            <div>
                <div class="createOrderButton">
                    <a href="/orders/payment" id="createOrder">ORDER</a>
                </div>                
            </div>
        </div>
    </div>      
</div>
